div{border:solid 3px pink;
margin:5px;
 width:100%;
background:https://i.pinimg.com/originals/ab/cf/47/abcf47e7c47b9064427b6ff4dd309442.jpg; width: 100%}
#b1{width:100%;
background:https://i.pinimg.com/originals/ab/cf/47/abcf47e7c47b9064427b6ff4dd309442.jpg; width: 100%}
#b2{background-color: yellow;}
#b3{background-color:pink;
width:25%;
margin: 5px;
float: left;}
#b4{background-color:pink;
width:30%;
float: left;
border:solid 3px pink;
margin: 3px;
text:
font-variant:small-caps;
font-style:oblique;
font-weight: normal;
font-family:monospace;
font-stretch: semi-condensed;
font-size:26pt}
#b5{width:25%;
 float:left;background-color:yellow}
#b6{clear: both; background-color:pink; width:85%}

